<template>
  <h1 v-if="hasError">Error Occured</h1>
  <h1 v-else-if="isLoading">Loading...</h1>

  <div v-else>
    <router-link to="/"><button class="backButton">Back</button></router-link>

    <div class="eachCountryContainer">
      <div class="imgContainer">
        <img
          :src="this.country[0].flags.png"
          alt="country-pic"
          class="eachCountryPhoto"
        />
      </div>
      <div class="countryDataWithBorderContainer">
        <div class="eachCountryDataContainer">
          <div class="listedCountryData">
            <div class="countryName">{{ this.country[0].name.common }}</div>
            <ul>
              <li
                v-if="
                  this.country[0].name.nativeName[
                    this.$route.params.code.toLowerCase()
                  ]
                "
              >
                <label
                  >Native Name:{{
                    this.country[0].name.nativeName[
                      this.$route.params.code.toLowerCase()
                    ].official
                  }}</label
                >
              </li>

              <li>
                <label>Population:{{ this.country[0].population }}</label>
              </li>
              <li>
                <label>Region:{{ this.country[0].region }}</label>
              </li>
              <li v-if="this.country[0].subregion">
                <label>Sub region:{{ this.country[0].subregion }}</label>
              </li>
              <li v-if="this.country[0].capital[0]">
                <label>Capital:{{ this.country[0].capital[0] }}</label>
              </li>
            </ul>
          </div>

          <div class="listedCountryData">
            <ul class="dummyClass">
              <li>
                <label>Top Level Domain:{{ this.country[0].tld[0] }}</label>
              </li>
              <li>
                <label
                  >Currencies:{{
                    this.country[0].currencies[
                      Object.keys(this.country[0].currencies)[0]
                    ].name
                  }}</label
                >
              </li>
              <li>
                <label
                  >Languages:{{
                    Object.values(this.country[0].languages).join(", ")
                  }}</label
                >
              </li>
            </ul>
          </div>
        </div>

        <div v-if="this.country[0].borders" class="borderContainer">
          <label>Borders countries:</label>

          <router-link
            :to="`${border}`"
            v-for="border in this.country[0].borders"
            :key="border"
            ><button class="borderCountry">{{ border }}</button></router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      country: null,
      isLoading: true,
      hasError: false,
    };
  },

  created() {
    this.getEachCountryData();
    
    this.$watch(
      () => this.$route.params,
      async function fetchData() {
        // react to route changes...
        
        try {
          const data = await fetch(
            `https://restcountries.com/v3.1/alpha/${this.$route.params.code}`
          ).then((res) => res.json());

          this.country = data;
          this.isLoading = false;
          this.hasError = false;
        } catch (err) {
          this.isLoading = false;
          this.hasError = true;
        }
      }
    );
  },

  methods: {
    async getEachCountryData() {
      try {
        const data = await fetch(
          `https://restcountries.com/v3.1/alpha/${this.$route.params.code}`
        ).then((res) => res.json());

        this.country = data;
        this.isLoading = false;
        this.hasError = false;
      } catch (err) {
        this.isLoading = false;
        this.hasError = true;
      }
    },
  },
};
</script>

<style scoped>
.eachCountryContainer {
  display: flex;
  width: 100%;
}
.eachCountryDataContainer {
  display: flex;
  margin: 0 2rem;
  justify-content: space-around;
}
.imgContainer {
  margin: 0 0 0 4.7rem;
}
.countryDataWithBorderContainer {
  margin: 0 0 0 2rem;
}

.borderContainer {
  margin: 0 8rem;
  width: 100%;
}

.countryName {
  font-size: 40px;
  font-weight: 500;
}
.dummyClass {
  margin-top: 55px;
}

.borderCountry {
  font-size: 10px;
  font-weight: 400;
  width: 80px;
  height: 25px;
  margin: 0.5rem 0.5rem;
}
.backButton {
  width: 80px;
  height: 25px;
  margin: 2rem 4.7rem;
}

.listedCountryData {
  margin: 0 2rem;
}
</style>